.container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie-title {
  text-decoration: none;
  color: white;
  text-align: center;
}